*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color:#fff;
}


.titulo{
    display: block;
    margin-top:90px;
}
.titulo{
    display: block;
    margin-top: 90px;
    margin-left: 450px;
   
}

.clickGYM{
    height: 200px;
    width: 200px;
    color: black;
    background-color: #fff;
    display: inline-block;
    margin-top: 500px;
    margin-left: 300px;
    border-radius: 100px 100px 100px 100px;
    text-align: center;
    line-height: 200px;
       
    
}

.clickENCASA{
    display: inline-block;
    height: 200px;
    width: 200px;
    color: black;
    background-color: #fff;
    margin-top: -190px;
    margin-left: 900px;
    border-radius: 100px 100px 100px 100px;
    text-align: center;
    line-height:200px;
       
}